*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    background-color: #fafafa;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
.pagina-instagram{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.celular{
    display: flex;
    align-items: start;
    justify-content: center;
    min-height:700px;
    max-width: 400px;
    overflow: hidden;
    margin-left: 100px;
}
.celular img{
    height: 45rem;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 600px;
    min-width: 350px;
}
.estilo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem;
    border: solid 1px #dbdbdb;
}

.entrar{
    min-height: 25rem;
}

.entrar img{
    margin-bottom:30px ;
}
.entrar form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao-dados{
    margin: 3px;
    padding: 10px;
    width:250px;
    border: solid 1px #dbdbdb;
    background-color: #fafafa;
    font-size: 12px;
}
.botao-entrar{
    margin: 10px;
    padding: 7px;
    background-color: #0095f6;
    color: white;
    width: 250px;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.login .entrar li{
    list-style: none;
    text-align: center;
    padding: 10px;
 }
.login .entrar li:nth-child(1){
    color: #8e8e92;
    font-weight: bold;
}
.login .entrar li a{
    color: #385185;
    font-weight: bold;
}
.login .entrar li:nth-child(3){
    color: #385185;
    font-size: 12px;
}
    
.baixar-app{
    display: flex;
    flex-direction: column;
}

.baixar-app .obter-app{
    text-align: center;
    margin-bottom: 10px;
}
.baixar-app img{
    width: 150px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 870px){
 
}
